<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="prac.start.employee.EmployeeMapper">
    <select id="selectEmployees" resultType="employee">
        SELECT * FROM employee
    </select>

    <select id="getTime" resultType="String">
        SELECT now() FROM dual
    </select>
</mapper>